@model Videogame
@{
    ViewBag.Title = "Delete Game";
}
<!--Delete a VideoGame-->
<h2>Confirm Deletion</h2>
<h3>@Model.Name (@Model.YearReleased)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="VideogameID" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>